In [1]:
import pandas as pd
import numpy as np

In [2]:
Reaction_Types = pd.read_csv("Data/ReactionTypes.csv")
Reactions = pd.read_csv("Data/Reactions.csv")
Content = pd.read_csv("Data/Content.csv")

In [55]:
Reaction_Types

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [53]:
Reactions

,Unnamed: 0,Content ID,Type,Datetime
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23-08-2020 12:25
...,...,...,...,...
22529,25547,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,31-10-2020 04:50
22530,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,27-06-2020 09:46
22531,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,16-02-2021 17:17
22532,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,04-11-2020 20:08
22533,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,04-01-2021 04:55

In [54]:
Content

,Unnamed: 0,Content ID,Content Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food
...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,public speaking
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,technology
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology

In [6]:
df = pd.merge(Reactions, Content, on = 'Content ID', how = 'outer')
df.head(10)

,Unnamed: 0_x,Content ID,Type,Datetime,Unnamed: 0_y,Content Type,Category
0,1.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,0,photo,Studying
1,2.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22,0,photo,Studying
2,3.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13,0,photo,Studying
3,4.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,0,photo,Studying
4,5.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23-08-2020 12:25,0,photo,Studying
5,6.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,peeking,07-12-2020 06:27,0,photo,Studying
6,7.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,cherish,11-04-2021 17:35,0,photo,Studying
7,8.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,hate,27-01-2021 08:32,0,photo,Studying
8,9.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,peeking,01-04-2021 22:54,0,photo,Studying
9,11.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,indifferent,07-11-2020 08:36,0,photo,Studying

In [7]:
df1 = pd.merge(df, Reaction_Types, on = 'Type', how = 'inner')
df1

,Unnamed: 0_x,Content ID,Type,Datetime,Unnamed: 0_y,Content Type,Category,Unnamed: 0,Sentiment,Score
0,1.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,0,photo,Studying,2,negative,0
1,4.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,0,photo,Studying,2,negative,0
2,35.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,09-04-2021 02:46,0,photo,Studying,2,negative,0
3,52.0,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,28-03-2021 21:15,1,photo,healthy eating,2,negative,0
4,88.0,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,04-08-2020 05:40,2,photo,healthy eating,2,negative,0
...,...,...,...,...,...,...,...,...,...,...
22529,25489.0,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,04-10-2020 22:26,997,audio,veganism,9,positive,72
22530,25491.0,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,18-09-2020 10:50,997,audio,veganism,9,positive,72
22531,25512.0,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,31-10-2020 03:58,998,GIF,culture,9,positive,72
22532,25524.0,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,25-06-2020 15:12,998,GIF,culture,9,positive,72
22533,25531.0,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,17-12-2020 16:32,998,GIF,culture,9,positive,72

In [8]:
file = df1.to_csv('file.csv')

In [9]:
data = pd.read_csv('file.csv')
data

,Unnamed: 0.1,Unnamed: 0_x,Content ID,Type,Datetime,Unnamed: 0_y,Content Type,Category,Unnamed: 0,Sentiment,Score
0,0,1.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,0,photo,Studying,2,negative,0
1,1,4.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,0,photo,Studying,2,negative,0
2,2,35.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,09-04-2021 02:46,0,photo,Studying,2,negative,0
3,3,52.0,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,28-03-2021 21:15,1,photo,healthy eating,2,negative,0
4,4,88.0,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,04-08-2020 05:40,2,photo,healthy eating,2,negative,0
...,...,...,...,...,...,...,...,...,...,...,...
22529,22529,25489.0,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,04-10-2020 22:26,997,audio,veganism,9,positive,72
22530,22530,25491.0,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,18-09-2020 10:50,997,audio,veganism,9,positive,72
22531,22531,25512.0,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,31-10-2020 03:58,998,GIF,culture,9,positive,72
22532,22532,25524.0,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,25-06-2020 15:12,998,GIF,culture,9,positive,72
22533,22533,25531.0,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,17-12-2020 16:32,998,GIF,culture,9,positive,72

In [14]:
# Finding null values
data.isnull().sum().sum()

0

In [17]:
data.head(5)

,Unnamed: 0.1,Unnamed: 0_x,Content ID,Type,Datetime,Unnamed: 0_y,Content Type,Category,Unnamed: 0,Sentiment,Score
0,0,1.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,0,photo,Studying,2,negative,0
1,1,4.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,0,photo,Studying,2,negative,0
2,2,35.0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,09-04-2021 02:46,0,photo,Studying,2,negative,0
3,3,52.0,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,28-03-2021 21:15,1,photo,healthy eating,2,negative,0
4,4,88.0,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,04-08-2020 05:40,2,photo,healthy eating,2,negative,0

In [19]:
# columns
data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0_x', 'Content ID', 'Type', 'Datetime',
       'Unnamed: 0_y', 'Content Type', 'Category', 'Unnamed: 0', 'Sentiment',
       'Score'],
      dtype='object')

In [24]:
#dropping unnecessary columns
data.drop(['Unnamed: 0.1', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0'], axis=1, inplace=True)
data

,Content ID,Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,09-04-2021 02:46,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,28-03-2021 21:15,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,04-08-2020 05:40,photo,healthy eating,negative,0
...,...,...,...,...,...,...,...
22529,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,04-10-2020 22:26,audio,veganism,positive,72
22530,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,18-09-2020 10:50,audio,veganism,positive,72
22531,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,31-10-2020 03:58,GIF,culture,positive,72
22532,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,25-06-2020 15:12,GIF,culture,positive,72
22533,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,17-12-2020 16:32,GIF,culture,positive,72

In [58]:
data

,Content ID,Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,photo,studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,09-04-2021 02:46,photo,studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,28-03-2021 21:15,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,04-08-2020 05:40,photo,healthy eating,negative,0
...,...,...,...,...,...,...,...
22529,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,04-10-2020 22:26,audio,veganism,positive,72
22530,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,18-09-2020 10:50,audio,veganism,positive,72
22531,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,31-10-2020 03:58,GIF,culture,positive,72
22532,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,25-06-2020 15:12,GIF,culture,positive,72
22533,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,17-12-2020 16:32,GIF,culture,positive,72

In [51]:
#Changing capitals to lowercase
data['Category'] = data['Category'].str.lower()
data['Category']= data['Category'].replace('"', '', regex=True)

In [56]:
# Number of different categories
data.groupby('Category').Category.count().sort_values(ascending = False).count()

16

In [59]:
# Number of different categories
data.groupby('Category').Category.count().sort_values(ascending = False)

Category
animals            1738
science            1646
healthy eating     1572
technology         1557
food               1556
culture            1538
cooking            1525
travel             1510
soccer             1339
education          1311
fitness            1284
studying           1251
dogs               1227
tennis             1218
veganism           1146
public speaking    1116
Name: Category, dtype: int64

In [57]:
# top 5 in categories according to score
top5 = data.groupby('Category').sum('Score').sort_values('Score', ascending = False).head(5)
top5

                Score
Category
animals         68624
science         65405
healthy eating  63138
technology      63035
food            61598

In [73]:
data.head(3)

,Content ID,Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-07-11 09:43:00,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-06-01 19:13:00,photo,studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-09-04 02:46:00,photo,studying,negative,0

In [72]:
#convert Datetime format from object to Date
data['Datetime'] = pd.to_datetime(data['Datetime'])

In [81]:
data.groupby(data.Datetime.dt.month).Datetime.count()
#there are more posts in january month

Datetime
1     1951
2     1735
3     1813
4     1808
5     1926
6     1887
7     1953
8     1881
9     1834
10    1907
11    1901
12    1938
Name: Datetime, dtype: int64

In [82]:
file = data.to_csv('file_cleaned_data.csv')